.left {
  display: inline-block;
  width: 50%;
  float: left;
}

.right {
  display: inline-block;
  width: 50%;
}

.jet-fuel {
  margin-bottom: 20px;
  color: orange;
  font-size: 70px;
  font-family: 'Faster One', cursive;
}

.user-input, .url-input {
  padding: 5px;
  width: 200px;
  outline: none;
  border: 2px solid magenta;
  border-radius: 20px;
  font-size: 24px;
}

.submit-btn, .submit-btn-url {
  margin-left: 20px;
  padding: 10px;
  background-color: magenta;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 24px;
}

.popularity-btn, .date-btn {
  margin-left: 20px;
  padding: 10px;
  background-color: magenta;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
}

.submit-btn:hover, .submit-btn-url:hover, .popularity-btn:hover, .date-btn:hover {
  background-color: black;
}

.folder-list {
  margin: 10px;
  font-size: 24px;
}

.folder-list:hover {
  color: orange;
}

.folder-clicked {
  color: magenta;
}

li {
  list-style: none;
  font-size: 18px;
}

.link:hover {
  color: orange;
}

.new-url-container {
  diplay: block;
  margin-bottom: 30px;
}

.url-container {
  margin-top: 20px;
  width: 50%;
  float: right;
}

.sort-container {
  display: block;
  margin-top: 50px;
}

.sort-by {
  display: inline-block;
  font-size: 24px;
}

.folder-title {
  margin-top: 20px;
  color: orange;
  font-size: 24px;
}

.url-clicks, .url-date {
  margin-left: 10px;
  display: inline-block;
}
